<h3 class='title d-flex justify-content-center text-secondary'>Posts details</h3>

<div class='container mt-3' style='width: 45%;'>
  <div class='bg-light rounded-top p-3'>
    <div class='d-flex justify-content-between align-items-center mt-1 mb-2'>
      <p class='text-primary'><%= @post.title %> by <%= @post.author.name %></p>
      <div class='text-primary fs-6'>
        Comments : <%= @post.comments_counter %>, 
        Likes : <%= @post.likes_counter %>
      </div>
    </div>
    <%= @post.text %>

    <%= form_with scope: :like, url: post_likes_path(@post) do |form| %>
    <%= form.button "Like Post", class: "btn btn-sm btn-secondary mt-1" %>
    <% end %>
    <% if current_user == @post.author %>
      <%= link_to("Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }) %>
    <% end %>
  </div>

  <div class='rounded-bottom p-3 mb-5 comments'>
    <% @comments.each do |comment| %>
    <div>
      <div class="container">
        <div class="row justify-content-between">
          <% comment.author.name %> : <%= comment.text %>
          <span>
            <% if current_user == comment.author %>
              <%= link_to "Delete comment", comment_path(comment.id), method: :delete, data: { "turbo-method": :delete }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </span>
        </div>
      </div>
      </div>
      <% end %>
    </div>

    <%= form_with scope: :comment, url: post_comments_path(@post) do |form| %>
    <div class="mb-3">
      <%= form.text_area :text, placeholder: "Write your comment here...", class: "form-control border" %>
    </div>
      <%= form.button "Comment", type: "submit", class: "btn btn-secondary" %>
      <% end %>
  <div class='d-flex justify-content-center'>
    <%= link_to "Back to all posts", user_posts_path(@post.author), class: 'btn btn-primary' %>
  </div>
</div>
